.app-background {
    

}

.app-background video {
    object-fit:contain;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    
}



.navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #120e0e66;
    box-shadow: 0 0 11px #000000cf;
}

.nav-list {
    list-style-type: none;
    display: block;
    list-style-type: none;
    display: block;
    border: 1px solid rgb(82 81 81 / 22%);
    padding: 0 15;
    background-color: #20202045;
}

.nav-list:hover {
    opacity: 0.8;
}

.nav-link {
    text-decoration: none;
    color: var(--white-color);
    color: #e9bbbb;
    font-size: 1.5rem;
    height: 100%;
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    font-family: cursive;
}


.logo {
    position: absolute;
    top: 170px;
    left: 100px;
}

.contain-video {
    position: absolute;
    top: 274px;
    left: 100px;
    font-size: 4rem;
    height: 3rem;
    line-height: 5.2rem;
    color: #ffededcf;
    font-family: cursive;

}

.container {
    background-color: #e6b8b8bd;
    padding-top: 49px;
    padding-bottom: 40px;
}

.category {
    padding: 30px 0;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    color: #112b8b;
}

.category::after {
    position: absolute;
    content: "";
    width: 86%;
    height: 2px;
    background-color: #112b8b;
    bottom: 36px;
    right: 0;

}

.actor-box {
    background-color: #242737;
    width: 300px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    
}

.actor-icon {
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    left: 15px;
    top: 14px;
}

.actor-img {
    border-radius: 12px;
    width: 200px;
    text-align: center;
    margin-left: 52px;
    display: inline-block;
    height: 291px;
    object-fit: cover;
    display: none;
    cursor: pointer;
}

.mynu {
    
}

.arrow-active.fa-arrow-circle-right {
    position: absolute;
    top: 39%;
    left: 354px;
    cursor: pointer;
}

.arrow-active.fa-arrow-circle-right:hover {
    opacity: 0.8;
}

.arrow-active.fa-arrow-circle-left {
    position: absolute;
    top: 39%;
    left: 94px;
    cursor: pointer;

}

.arrow-active {
    font-size: 2.3rem;
    color: #e9bbbb9e;
    display: none;
}

.actor-date,
.actor-name {
    font-size: 1.6rem;
    color: #fff;
    margin: 20px 0;
    text-align: center;

}

.actor-date {
    margin: 0;
    padding-bottom: 20px;
}

.actor-box.active {
    left: -30%;
}

.actor-info.active {
    display: block;
}

.actor-info {
    position: absolute;
    top: 0;
    right: 46px;
    width: 700px;
    line-height: 2.8rem;
    text-align: justify;
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
    margin-top: 27px;
    /* overflow: hidden; */
}

.actor-grap {
    position: relative;
    padding-top:20px;
    padding-bottom: 50px;
}

.actor-box_grap {
    align-items: center;
    /* width: 300px; */
    justify-content: center;
    display: flex;
}

.actor-img--active {
    /* padding-top: 56px;
    margin-left: 184px;
    width: 286px;
    display: block; */
    width: 100%;
    /* display: block; */
    top: -8px;
    left: 0px;
    position: absolute;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    /* overflow: hidden; */
}


.actor-img_grap {
    width: 1200px;
}

.actor-img.active {
    display: block;
}

.actor-box:hover .actor-img {

}

.arrow-active.active {
    display: block;
    padding: 5px;
}

.actor-info--active.active {
    display: block;
}

.actor-info--active {
    border-radius: 12px;
    position: absolute;
    bottom: -2px;
    left: 0px;
    background: #d9d9d961;
    width: 700px;
    color: #000000;
    line-height: 2rem;
    /* border: 1px solid #f5ebeb; */
    font-size: 1.4rem;
    padding: 30px 10px;
    display: none;
    transform: translateX(110%);
    transition: all linear 0.2s;
}

.actor-info:hover .actor-info--active {
    transform: translateX(0);
}

.actor-info.active {
    display: block;
    height: 413px;
    overflow: hidden;
}
.actor-img--active {
    width: 100%;
    /* display: block; */
    top: 1px;               
    left: 0px;
    position: absolute;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    /* overflow: hidden; */
}   

.actor-info {
    position: absolute;
    top: 21px;
    right: 46px;
    width: 700px;
    line-height: 2.8rem;
    text-align: justify;
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
    margin-top: 0px;
    /* overflow: hidden; */
}

.slider-idol__grap {

    width: 1706px;
    margin-top: 30px;
    background-color: rgba(248, 244, 244, 0.582);
    position: relative;
    /* left: -21%; */
    border: 1px solid #ad9999;
    box-shadow: 0 0 10px #7c7474;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    
}


.slider-idol__items {
    list-style-type: none;
    padding: 15px 20px;
    flex: 1;
    text-align: center;
    transition: all 1s linear;
    
}

.slider-idol__items:first-child
{
    margin: 0;
}

.slider-idol__img {
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
    transition: all 3s ease; 
    
}

.idol-more__img {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgb(116 121 241);
}

.slider-idol {
    overflow: hidden;
}

.idol-more__img-link img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(116 121 241);
    display: block;
    transition: all 0.7s ease-out;
    height: 100%;
    object-fit: cover;
}

.idol-more__img:hover .idol-more__img-link img {
    transform: scale(1.1)
}

.idol-more__name {
    font-size: 2rem;
    padding: 20px 0;
}

.idol-more__grap {
    margin: 15px 0;
    
}

.footer {
    background-color: #f8f8f6;
}

.footer-info__title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 56px;
}

.footer-info__contact {
    padding-left: 0;
}

.footer-info__contact-list {
    list-style-type: none;
    display: flex;
}

.footer-info__contact-list:hover .footer-info-icon {
    color: var(--red-color);
}

.footer-info__square {
    width: 35px;
    height: 35px;
    background-color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info__contact-add {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 2rem;
    flex: 1;
    height: 3.4rem;
    margin-bottom: 27px;
    margin-top: 0;
}

.footer-service__list {
    padding-left: 0;
}

.footer-service__items {
    list-style-type: none;
    padding-bottom: 20px;
}

.footer-service__items:hover .footer-service__link{
    color: var(--red-color);
    transform: translateX( 10px);
}

.footer-service__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    width: 100%;
    display: block;
}

.footer-service__input {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.footer-service__btn {
    background-color: #2e2e2e;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}

.author {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 20px;
}

.footer-service__btn:hover {
    background-color: #f31b1b;
    color: rgb(255 255 255);
}

.btn-up {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #4d5760;
    z-index: 1;
    bottom: 38px;
    border-radius: 50%;
    right: 11px;

}


.btn-up-icon {
    position: relative;
}

.btn-up-icon::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: #fffefe;
    transform: rotate(55deg);
    top: 20px;
    left: 21px;
    border-radius: 10px;
}

.btn-up-icon::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-57deg);
    top: 20px;
    left: 36px;
    border-radius: 10px;

}

.btn-up a {
    display: block;
    width: 60px;
    height: 60px;
}

html {
    transition: all 1s;
    scroll-behavior: smooth;
}

.best-tour__count {
    color: #212121;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.best-tour__count-quatity {
    font-size: 6.5rem;
    font-weight: 600;
    color: #212121;
    display: block;
    line-height: 65px;
    margin: 0;

}

.best-tour__count-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 18px;
    display: block;
    letter-spacing: 0.1px;
}

.best-tour__count-text {
    font-size: 1.4rem;
    color: #505050;
    line-height: 2.5rem;
    
}

.slider-idol__grap--active {
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid; */
}

.arrow-active.previous {
    opacity: 0.3;
}

.idol-more__link {
    text-decoration: none;
    color: #112b8b;
}